
html{
    font-family: "Inter","Noto Sans JP",sans-serif;
}

body{
    background-color: #eaeaea;
    padding-bottom: 50px;
    box-sizing: border-box;
}

header{
    background-color: #FFFFFF;
    justify-content: center;
    display: flex;
}

.header{
    display: flex;
    padding: 10px;
    align-items: center;
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    p{
        margin: 0;
    }
}

.logo-a{
    text-decoration: none;
}

.logo{
    margin: 0;
    font-weight: 200;
    font-family: "Comfortaa", sans-serif;
    color: black;
}

.eye-catch{
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.top-image{
    max-width: 1100px;
}

.top-image img{
    width: auto;
    max-width: 100%;
    height: auto;
}

.frame-1{
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
}

.frame-1 > div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 1100px;
    height: 500px;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #8c8c8c;
    box-shadow: 3px 3px 6px 0px rgba(181, 181, 181, 0.5), inset -3px -5px 6px -4px rgba(0, 0, 0, 0.3);
}

.tools-header{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

/* レスポンシブ対応 */

@media (max-width: 600px){

    .eye-catch{
        padding-left: 10px;
        padding-right: 10px;
    }

    .frame-1{
        padding-right: 10px;
        padding-left: 10px;
    }

    .frame-1 > div{
        margin-top: 20px;
    }

    .tools-header{
        font-size: 20px;
    }
}

